@import './tailwind';

.snow-falling {
  background-image: url("../images/snow.gif");
}

.field_with_errors {
  input, textarea {
    border: solid 1px red;
  }
}

.fade {
  transition: background-color 1s ease-in-out;
}
