@import './tailwind';

.snow-falling {
  background-image: url("../images/snow.gif");
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field_with_errors {
  input, textarea {
    border: solid 1px red;
  }
}