<% if flash[:alert].present? %>
  <% content_for :alert do %>
    <%= flash[:alert] %>
  <% end %>
<% end %>

  <div
  class="fixed top-0 left-0 p-4 w-full bg-red-600 text-white text-center <%= 'hidden' unless content_for(:alert) %>"
    data-errors-target="alert"
    >
    <%= content_for :alert %>
  </div>
