<!DOCTYPE html>
<html>
  <head>
    <title>HandsOffErrorHandling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="errors" data-action="ajax:error->errors#showError">
    <%= yield %>
  </body>
</html>
